{
    "root": true,
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "eslint:all"
    ],
    "parser": "babel-eslint",
    "rules": {
        "array-element-newline": ["error", {
            "multiline": true
        }],
        "array-bracket-newline": ["error", {
            "multiline": true
        }],
        "capitalized-comments": 0,
        "comma-dangle": ["error", "always-multiline"],
        "dot-location": ["error", "property"],
        "func-names": ["error", "as-needed"],
        "func-style": ["error", "declaration", {
            "allowArrowFunctions": true
        }],
        "dot-notation": ["error"],
        "id-length": ["error", {
            "exceptions": ["_", "$"]
        }],
        "max-classes-per-file": ["error", 5],
        "multiline-comment-style": 0,
        "new-cap": 0,
        "newline-per-chained-call": ["error"],
        "no-console": "warn",
        "no-multiple-empty-lines": ["error", {
            "max": 2,
            "maxEOF": 0,
            "maxBOF": 0
        }],
        "no-trailing-spaces": ["error", {
            "skipBlankLines": false,
            "ignoreComments": false
        }],
        "no-use-before-define": ["error", {
            "classes": false,
            "functions": false,
            "variables": true
        }],
        "object-curly-newline": ["error", {
            "ObjectExpression": {
                "consistent": true,
                "multiline": true
            },
            "ObjectPattern": {
                "consistent": true,
                "multiline": true
            },
            "ImportDeclaration": "never",
            "ExportDeclaration": "never"
        }],
        "object-curly-spacing": ["error", "always"],
        "one-var": ["error", "never"],
        "padded-blocks": ["error", {
            "blocks": "never",
            "classes": "always",
            "switches": "never"
        }],
        "quote-props": ["error", "consistent-as-needed"],
        "sort-keys": ["error", "asc", {
            "caseSensitive": true,
            "natural": false
        }]
    }
}